{% extends 'layout.njk' %}
{% block style %}
<link rel="stylesheet" href="/iconfont/iconfont.css">
    <link rel='stylesheet', href='/css/passwordRegist.css'>
{% endblock %}

{% block content %}
<section>
        <div class="box">
            <!-- 背景圆 -->
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <!-- 登录框 -->
            <div class="container">
                <div class="form">
                    <h3>Password Setting</h3>
                    {# <form id="loginform" name="form1"> #}
                        <div class="inputBox remind_box2">
                            <input type="password" placeholder="Password" class="password remind_input2 cipher_a" name="password_a">
                        </div>
                        <div class="inputBox remind_box3">
                            <input type="password" placeholder="Confirm the password" class="password remind_input3 cipher_b" name="password_b">
                        </div>
                        <div class="inputBox">
                            <button class="btn">Next</button>
                        </div>
                    {# </form> #}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script src="js/passwordRegist.js"></script>
{% endblock %}