{% extends 'layout.njk' %}
{% block style %}
<link rel="stylesheet" href="/iconfont/iconfont.css">
<link rel='stylesheet', href='/css/login.css'>
{% endblock %}
{% block content %}
<section>
        <div class="box">
            <!-- 背景圆 -->
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <!-- 登录框 -->
            <div class="container">
                <div class="form">
                    <h3>Login Now</h3>
                    {# <form id="loginform" name="form1"> #}
                       <div class="inputBox remind_box">
                            <input type="text" placeholder="Username" class="username remind_input" name="username">

                        </div>
                        <div class="inputBox remind_box2">
                            <input type="password" placeholder="Password" class="password" name="password">
                        </div>
                        <div class="inputBox">
                            <button class="btn">Login</button>
                        </div>
                    {# </form> #}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script src="js/login.js"></script>
{% endblock %}