body{
    font-family: "Avant Garde", "Tahoma", "Microsoft YaHei", "SimHei";
    background: rgb(1, 86, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container{
    background-color: black;
    width: fit-content;
    height: fit-content;
    border-radius: 16%;
    border: 10px solid #be9f22;
    padding: 30px 50px;
    /* margin: 150px auto; */
    margin-bottom: 20px;
    box-shadow: 0 0 10px 10px #ccc;
}
.welcome{
    color: #be9f22;
    font-size: 36px;
    font-weight: bold;
}
.title_item,.age_item,.sex_item{
    color: #be9f22;
    margin: 10px 0px;
    font-size: 24px;
}
.order{
    color: #be9f22;
    padding: 30px 50px;
    font-size: 24px;
    width: 200px;
    height: fit-content;
    background-color: black;
    /* margin: 30px auto; */
    border-radius: 16%;
    border: 10px solid #be9f22;
    box-shadow: 0 0 10px 10px #ccc;
}
.item_order{
    margin-bottom: 10px;
}
.change_opacity{
    opacity: 0.4;
}